
// Default: will execute on local computer
// Executables for FASTQC, salmon need to be in path already
executor='local'
memory='8g'

// Example of how to customise for a different environment (torque 
// running on HPC using modules)
environments {

    torque {
        executor='torque'
        account=''      // add any necessary account info
        queue='batch'   // customize for your system

        commands {
            salmon {
               modules="salmon"
            }

            fastqc {
               modules="fastqc"
            }
        }
    }
}


